@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50 min-h-screen;
  }
  
  main {
    @apply w-full max-w-6xl mx-auto p-8;
  }
}

